.container {
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  background-color: antiquewhite;
  margin-top: 20px;
}

.btn {
  display: inline-flex;
  font-size: 20px;
  margin: 10px 10px 20px 10px;
  cursor: pointer;
  padding: 15px 25px;
  background-color: rgb(52, 195, 74);
}

.text {
  margin: 0;
  font-size: 20px;
  font-family: monospace;
}

.input {
  width: 250px;
  border-radius: 8px;
  outline: transparent;
  border: 2px solid purple;
  padding: 8px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
